{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}
{% block body %}
<div class="container mt-5 mb-3">

    <div class="row">
        {% for post in page_posts %}
        <div class="col-lg-4 my-4">
            <div class="card shadow" style="width: 20rem; height: 33rem;">
                <img src="/media/{{post.image}}" class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                  <h5 class="card-title">{{post.title | truncatechars:23}}...<br><small>by {{post.author}}</small></h5>
                  <p class="card-text">{{post.content| truncatechars:210}}...</p>
                  <a href="blog/{{post.slug}}" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if has_pagination %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <ul class="pagination">
            {% if page_posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Page {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}</span>
            </li>

            {% if page_posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_posts.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
{% block js %} 
<script></script>
{% endblock %}